
<div class="inner-section" style="background-color: {{ section.settings.bg_color }};">
  <div class="hun-container">
      {% if section.settings.section_title != blank %}
        <h2 class="title-sec" style="max-width: {{ section.settings.title_width }}px;">
          {{ section.settings.section_title }}
        </h2>
      {% endif %}
        
      <div class="hun-row set-4-col">
        {%- for block in section.blocks -%}

          <div class="hun-col">
            <div class="inner-item">
              {% if block.settings.link_item != blank %}
                <a href="{{ block.settings.link_item }}" class="link-item"></a>
              {% endif %}

              <div class="pic-item">
                <div class=" holder-image" {% if block.settings.image != blank %}style="background-image: url({{ block.settings.image | img_url: '900x' }});"{% endif %}></div>
              </div>

              <div class="text-item">
                {%- if block.settings.subtitle != blank -%}
                  <div class="subtitle-item">
                    {{ block.settings.subtitle }}
                  </div>
                {%- endif -%}

                {%- if block.settings.title != blank -%}
                  <h3 class="title-item" style="max-width: {{ block.settings.title_max_w }}px;">
                    {{ block.settings.title }}
                  </h3>
                {%- endif -%}

                {%- if block.settings.description != blank -%}
                  <div class="des-item" style="max-width: {{ block.settings.description_max_w }}px;">
                    {{ block.settings.description }}
                  </div>
                {%- endif -%}
              </div>
            </div>
          </div>

        {%- endfor -%}
      </div>
  </div>
</div>

<div style="height: {{ section.settings.space_bottom }}px;"></div>

{% schema %}
  {
    "name": "Hightlight blog",
    "class": "hun-hightlight-blog",
    "settings": [
      {
        "type": "color",
        "id": "bg_color",
        "label": "Background color",
        "default": "#FFF6E2"
      },
      {
        "type": "text",
        "id": "section_title",
        "label": "Section title",
        "default": "Title"
      },
      {
        "type": "range",
        "id": "title_width",
        "label": "Title width",
        "default": 1260,
        "min": 100,
        "max": 1260,
        "step": 20,
        "unit": "px"
      },
      {
        "type": "range",
        "id": "space_bottom",
        "label": "More bottom space",
        "default": 100, 
        "min": 0,
        "max": 150,
        "step": 2,
        "unit": "px"
      }
    ],
    "blocks": [
      {
        "type": "blog",
        "name": "Blog",
        "settings": [
          {
            "type": "image_picker",
            "id": "image",
            "label": "Image"
          },
          {
            "type": "text",
            "id": "subtitle",
            "label": "Subtitle",
            "default": "Subtitle"
          },
          {
            "type": "text",
            "id": "title",
            "label": "Title",
            "default": "Title"
          },
          {
            "type": "range",
            "id": "title_max_w",
            "label": "Title max width",
            "default": 240,
            "min": 50,
            "max": 600,
            "step": 10,
            "unit": "px"
          },
          {
            "type": "richtext",
            "id": "description",
            "label": "Description",
            "default": "<p>Description</p>"
          },
          {
            "type": "range",
            "id": "description_max_w",
            "label": "Description max width",
            "default": 240,
            "min": 50,
            "max": 600,
            "step": 10,
            "unit": "px"
          },
          {
            "type": "url",
            "id": "link_item",
            "label": "Item link"
          }
        ]
      }
    ]
  }
{% endschema %}
