


<div class="inner-section" style="width: {{- section.settings.section_width -}}px;">
  <div class="hun-container">
    {% if section.settings.section_title != blank %}
      <h3 class="title-section section-header__title" style="max-width: {{- section.settings.title_width -}}px;">
        {{ section.settings.section_title }}
      </h3>
    {% endif %}

    <div class="hun-row {{ section.settings.num_column }}">
      {%- for block in section.blocks -%}
      
        <div class="hun-col">
          <div class="sec-item">
            {% if block.settings.item_link != blank %}
              <a href="{{ block.settings.item_link }}" class="link-item"></a>
            {% endif %}

            <div class="pic-item">
              <div class="wrap-pic" {% if block.settings.image != blank %}style="background-image: url({{ block.settings.image | img_url: 'master' }});"{% endif %}></div>
            </div>

            <div class="text-item">
              {%- if block.settings.item_title != blank -%}
                <h3 class="title-item">
                  {{ block.settings.item_title }}
                </h3>
              {%- endif -%}

              {%- if block.settings.item_des != blank -%}
                <div class="des-item">{{ block.settings.item_des }}</div>
              {%- endif -%}    
            </div>
          </div>
        </div>

      {%- endfor -%}
    </div>

    {% if section.settings.button_label != blank %}
      <div class="buttons-section">
        <a class="btn-section" href="{{ section.settings.button_link }}">{{ section.settings.button_label }}</a>
      </div>
    {% endif %}
  </div>
</div>
<div style="height: {{ section.settings.space_bottom }}px;"></div>

{% schema %}
  {
    "name": "Image with text column V2",
    "class": "image-with-text-column-v2",
    "settings": [
      {
        "type": "range",
        "id": "section_width",
        "label": "Section width",
        "default": 1240,
        "min": 500,
        "max": 1300,
        "step": 20,
        "unit": "px"
      },
      {
        "type": "text",
        "id": "section_title",
        "label": "Section title",
        "default": "Image with text column"
      },
      {
        "type": "range",
        "id": "title_width",
        "label": "Title width",
        "default": 1260,
        "min": 100,
        "max": 1260,
        "step": 20,
        "unit": "px"
      },
      {
        "type": "text",
        "id": "button_label",
        "label": "Button label",
        "default": "Button"
      },
      {
        "type": "url",
        "id": "button_link",
        "label": "Button link"
      },
      {
        "type": "select",
        "id": "num_column",
        "label": "Number of columns",
        "default": "set-3-col",
        "options": [
          {
            "value": "set-2-col",
            "label": "2 column"
          },
          {
            "value": "set-3-col",
            "label": "3 column"
          },
          {
            "value": "set-4-col",
            "label": "4 column"
          },
          {
            "value": "set-5-col",
            "label": "5 column"
          }
        ]
      },
      {
        "type": "range",
        "id": "space_bottom",
        "label": "More bottom space",
        "default": 0, 
        "min": 0,
        "max": 150,
        "step": 2,
        "unit": "px"
      }
    ],
    "blocks": [
      {
        "type": "text_block",
        "name": "Item",
        "settings": [
          {
            "type": "image_picker",
            "id": "image",
            "label": "Image"
          },
          {
            "type": "header",
            "content": "Text"
          },
          {
            "type": "text",
            "id": "item_title",
            "label": "Item title",
            "default": "Example title"
          },
          {
            "type": "richtext",
            "id": "item_des",
            "label": "Description",
            "default": "<p>This is description of the item.</p>"
          },
          {
            "type": "url",
            "id": "item_link",
            "label": "Item Link"
          }
        ]
      }
    ]
  }
{% endschema %}
